@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');


@import url('https://fonts.googleapis.com/css?family=Fira+Mono:wght@400;500;700');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:wght@300;500;700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

:root {
  /* --brand-primary: #16a085; */
  /* --brand-primary: #5400E5; */
  /* --brand-primary: #4527A0; */

  --mx-x: 240;
  --mx-xs0: hsl(var(--mx-x), 80%, 40%);
  --mx-xk0: hsl(var(--mx-x), 40%, 96%);

  --brand-primary: hsl(var(--mx-x), 60%, 40%);




  /* --brand-primary-alt: #5f5f87; */
  /* --brand-primary-alt: hsla(262, 100%, 45%, .1); */
  /* --brand-primary-alt: hsla(var(--brand-primary), 100%, 45%, .1); */
  --brand-primary-alt: hsl(var(--mx-x), 10%, 94%);


  /* --cs-border: hsl(210, 10%, 85%); */
  --cs-border: hsl(var(--mx-x), 20%, 84%);

  --container-gutter: 140px;
  --container-width: 11.7cm;

  /* --text-secondary: #62666a; */
  /* --text-secondary: #5f5f87; */
  --text-secondary: hsl(var(--mx-x), 14%, 60%);

  /* --section-title-color: hsl(210, 6%, 70%); */
  /* --section-title-color: hsl(240, 6%, 80%); */
  --section-title-color: hsl(var(--mx-x), 40%, 80%);;

  --font-family-primary:  Karla, Arial, sans-serif;
  --font-family-secondary: Barlow, Arial, sans-serif;
  --font-family-test: Fira Mono, Arial, sans-serif;

  /* --font-family-primary: Karla, Arial, sans-serif; */
  /* --font-family-secondary: Barlow, Arial, sans-serif; */
}

* {
  box-sizing: border-box;
}

.section-banner {
  display: block;
  color: hsl(var(--mx-x), 10%, 60%);
  margin-top: 2.4rem;
  font-weight: 600;
  font-size: 1.0rem;
  /* font-family: var(--font-family-secondary); */
}

p {
  color: hsl(var(--mx-x), 10%, 60%);
}

h3.hvpod-title {
  color: hsl(var(--mx-x), 30%, 40%);
}

section#languages li.gallery-item {
    padding: 4px 0px;
}

section#languages i.ti {
    /* color: var(--brand-primary); */
    color: var(--mx-xs0);
}
/* section#languages span { } */

html,
body {
  background-color: #fff;
  color: #000000;
  font-family: var(--font-family-primary);
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: var(--font-family-secondary);*/
  line-height: 1.15;
}

h1,
h2 {
  font-weight: 900;
}

/**
 * Main layout.s
 */
.layout__content {
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "head head head head"
    "sid1 sid1 main main"
    "sid2 sid2 main main"
    "sid3 sid3 main main"
    "sid4 sid4 main main"
  ;
}

.section {
  grid-column: span 2;
}

.section--header {
  grid-column: span 5;
  /*grid-area: head;*/
}

.section--employment {
  grid-column: span 3;
  grid-row: 2 / -1;
  /*grid-area: main;*/
}

/*.section--education {
  grid-area: sid1;
}

.section--languages {
  grid-area: sid2;
}

.section--skills {
  grid-area: sid3;
}

.section--interests {
  grid-area: sid4;
}*/

/**
 * Global print styles.
 */
@media print {
  body {
    background-color: #ffffff; /* For phantomjs and wkhtmltopdf */
  }
}

@page {
  margin: 1.25cm;
}

/**
 * Preview.
 */
@media screen {
  /* Helps previewing stuff. */
  .layout__content {
    height: 29.7cm;
    padding: 1cm;
    width: 21cm;
  }
}

/**
 * Component
 * .chip
 */
.chip {
  background-color: var(--mx-xk0);
  display: inline-block;
  font-size: .92rem;
  font-weight: bold;
  line-height: 1;
  padding: .5em .25em 0em .25em;
  border-bottom-color: hsl(var(--mx-x), 40%, 90%);
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.chip--primary {
  background-color: var(--mx-xk0);
  color: var(--brand-primary);
}

/**
 * Component
 * .hvpod
 */
.hvpod-block *:first-child {
  margin-top: 0;
}

.hvpod-block p:last-child,
.hvpod-element p:last-child {
  margin-bottom: 0;
}

.hvpod-title {
  font-size: 1rem;
  margin: 0;
  margin-top: 1em;
}

.hvpod-subtitle {
  color: var(--text-secondary);
  font-size: 1rem;
  margin: 0;
  margin-top: .33rem;
}

.hvpod-element {
  margin: 0;
  margin-top: .5rem;
}

.hvpod-element--highlights ul {
  list-style: disc;
  padding-left: 1.33rem;
}

.hvpod-element--highlights li {
  margin-bottom: .5rem;
}

.hvpod--education_degree,
.hvpod--job {
  display: flex;
}

.hvpod-subtitle em {
  font-style: normal;
  font-weight: bold;
}

.hvpod--job .hvpod-element--keywords {
  margin-top: .75rem;
}

.hvpod--education_degree {
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.hvpod--education_degree .hvpod-block {
  margin-left: .5rem;
  margin-right: .5rem;
}

.hvpod--education_degree .hvpod-block--date {
  color: var(--text-secondary);
  flex: 0 0 32px;
  order: 1;
}

.hvpod--education_degree .hvpod-block--main {
  flex: 1;
  order: 2;
}

.hvpod--education_degree .hvpod-element--summary {
  margin-top: 0.33rem;
}

.hvpod--language {
  display: flex;
}

.hvpod--language .hvpod-block {
  flex: 1;
  white-space: nowrap;
}

.hvpod--language .hvpod-block--main {
  flex: 0 0 80px;
}

/**
 * Component
 * .list
 */
.henlo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.henlo-list-item {
  margin-bottom: .5rem;
}

.henlo-list--keywords .henlo-list-item,
.henlo-list--keywords .henlo-list-item {
  display: inline-block;
  margin-bottom: .4em;
  margin-left: .2em;
}

.henlo-list--info_contact {
  border-left: 2px solid var(--cs-border);
  padding-left: 1rem;
}

.henlo-list--info_contact .henlo-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5rem;
}

.henlo-list--info_contact .henlo-list-item dt {
  display: none;
}

.henlo-list--info_contact .henlo-list-item dd {
  color: var(--text-secondary);
  flex: 1;
  margin-left: .5rem;
}

.henlo-list--info_contact .henlo-list-item a {
  color: inherit;
  text-decoration: none;
}

/**
 * Component
 * .gallery
 */
.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-item + .gallery-item {
  margin-top: .5rem;
}

/**
 * Component
 * .section
 */
.section {
  position: relative;
}

.section-title {
  color: var(--section-title-color);
  font-family: var(--font-family-secondary);
  font-size: .9rem;
  letter-spacing: .085em;
  margin: 0;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

/**
 * Layout
 * .section--header
 */
.section--header {
  display: flex;
  flex-wrap: wrap;
}

.section--header .section-block--main {
  order: 1;
  flex: 1;
}

.section--header .section-block--contact {
  order: 2;
}

.section--header .section-block--contact + .section-block--contact {
  margin-left: 3rem;
}

.section--header .section-block--summary {
  order: 3;
}

.section--header .section-block--summary {
  width: 90%;
}

.section--header .section-title {
  color: #000;
  font-family: var(--font-family-secondary);
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.section--header .section-subtitle {
  /*color: var(--brand-primary);*/
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.section--header .section-text {
  color: var(--text-secondary);
  font-size: 1.2rem;
  font-family: var(--font-family-secondary);
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
  /* margin-top: 1.5rem; */
}

.section--header .section-element--img {
  align-items: center;
  /* box-shadow: 2px 2px 0 var(--brand-primary), -2px -2px 0 var(--brand-primary); */
  border: 2px solid var(--brand-primary);
  /* border: 2px solid white; */
  /* background: var(--text-secondary); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  height: 45px;
  margin-right: 2rem;
  order: 0;
  width: 45px;
}

.section--header .section-element--img span {
  color: var(--brand-primary);
  display: block;
  font-family: var(--font-family-test);
  font-size: 2.7rem;
  font-weight: 500;
  /* color: white; */
}

/**
 * Layout
 * .section--employment
 */
.section--employment .gallery-item + .gallery-item {
  margin-top: 1rem;
}

/**
 * Layout
 * .section--skills
 */
.section--skills .gallery {
  display: grid;
  grid-gap: .75rem;
  grid-template-columns: 1fr 1fr;
}

.section--skills .gallery-item {
  margin: 0;
}
